.app {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(rgb(198, 198, 198), rgb(165, 165, 165));
  height: 100vh;
}
.app .chart {
  display: flex;
  justify-content: space-around;
  width: 75%;
  height: 45vh;
  padding: 20px 0;
}
.app .taskbar {
  width: 25%;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0 0 10px 10px;
  box-shadow: 0, 5px, 10px, rgba(255, 255, 255, 0.9);
  margin: 0 0 3px 0;
}
